body{
	background-color: white;
	font-family:"Tahoma";
	font-size:20px;
}

h1{
	font-size:60px;
	position: absolute;
	left: 34%;
	top: 3%;
	font-family:"Tahoma";
	font-weight:bold;
}

h3{
	position: absolute;
	left: 37%;
	top: 20%;
}

#log{
	position: absolute;
	left: 28%;
	top: 30%;
}